*~
~*
*.diff
*.patch
*.bak
.DS_Store
*.swp
*.swo
*.log
*.log.*

/.vscode/

node_modules/
.sass-cache/

/.bundle/
/vendor/bundle
*.gem

yarn.lock
package-lock.json
Gemfile.lock

_site/
.jekyll-metadata
.jekyll-cache/
_pages/en/contact.md
_sass/custom.scss
_sass/custom.scss
.gitignore
_pages/templates/emojis.md
_sass/custom.scss
